* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: black;
  background: -webkit-gradient(linear, left bottom, left top, from(black), to(#696764));
  background: linear-gradient(0deg, black 0%, #696764 100%);
  color: white;
}

header {
  background-color: rgba(0, 0, 0, 0.281);
}

header #navbarNavDropdown ul li a {
  color: white;
  font-size: 1rem;
}

header #navbarNavDropdown ul li:hover a {
  color: crimson;
}

.container {
  position: relative;
  width: 90%;
}

.hero {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 70px 20px;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
}

.hero .heroTexto {
  height: 350px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 5%;
}

.hero .heroTexto h1 {
  font-size: 55px;
  font-weight: 700;
}

.hero .heroTexto p {
  font-size: 18px;
  width: 500px;
  color: white;
}

.hero .heroTexto a {
  width: 300px;
  display: inline-block;
  padding: 10px 30px;
  color: white;
  background-color: transparent;
  border: 2px solid crimson;
  font-size: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-top: 30px;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
}

.hero .heroTexto a:hover {
  color: white;
  background-color: crimson;
}

.hero__contenedor {
  position: relative;
  width: 90%;
  height: auto;
}

.hero__contenedor img {
  width: 100%;
  height: auto;
}

.footer {
  text-align: center;
  margin: 20% 0;
}

.footer ul li {
  list-style: none;
  padding: 1rem;
}

.footer ul li :hover {
  color: crimson;
  -webkit-transition: .5s;
  transition: .5s;
}

.footer ul li a {
  color: rgba(253, 232, 232, 0.911);
  text-decoration: none;
}

#proyectos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  max-width: 1500px;
  margin: 0 auto;
  padding: 100px 0;
}

#proyectos .proyectos-top {
  width: 900px;
  margin: 0 auto;
  color: white;
  font-size: 1.4rem;
  margin-top: 5px;
  line-height: 2.5rem;
  font-weight: 300;
}

#proyectos .proyectos-top h1 {
  font-weight: bolder;
  margin: 0% 0% 5% 0%;
}

#proyectos .proyectos-top .section-title {
  font-size: 4rem;
  font-weight: 300;
  color: white;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
}

#proyectos .proyectos-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
}

#proyectos .proyectos-item {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px;
  border-radius: 10px;
  background-image: url(./img/img-1.png);
  background-size: cover;
  margin: 10px 5%;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

#proyectos .proyectos-item::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  opacity: 0.9;
  z-index: -1;
}

.proyectos-bottom .icon {
  height: 80px;
  width: 80px;
  margin-bottom: 20px;
}

.proyectos-item h2 {
  font-size: 2rem;
  color: white;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.proyectos-item p {
  color: white;
  font-size: 1.4rem;
  margin-top: 5px;
  line-height: 2.5rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
  color: white;
  text-align: left;
}

#preguntas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  max-width: 1500px;
  margin: 0 auto;
  padding: 100px 0;
}

#preguntas .preguntas-top {
  width: 900px;
  margin: 0 auto;
  color: white;
  font-size: 1.4rem;
  margin-top: 5px;
  line-height: 2.5rem;
  font-weight: 300;
}

#preguntas .preguntas-top h1 {
  font-weight: bolder;
  margin: 0% 0% 5% 0%;
}

#preguntas .preguntas-top .section-title {
  font-size: 4rem;
  font-weight: 300;
  color: white;
  margin-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
}

#preguntas .preguntas-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
}

#preguntas .preguntas-item {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px;
  border-radius: 10px;
  background-image: url(./img/img-1.png);
  background-size: cover;
  margin: 10px 5%;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

#preguntas .preguntas-item::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  opacity: 0.9;
  z-index: -1;
}

.preguntas-bottom .icon {
  height: 80px;
  width: 80px;
  margin-bottom: 20px;
}

.preguntas-item h2 {
  font-size: 2rem;
  color: white;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.preguntas-item p {
  color: white;
  font-size: 1.4rem;
  margin-top: 5px;
  line-height: 2.5rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
  color: white;
  text-align: left;
}

#sobreMi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  padding: 10%;
}

#sobreMi img {
  height: 500px;
  width: 500px;
  padding: 0% 5% 5%;
}

#sobreMi .textoSobreMi {
  height: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 5%;
}

#sobreMi .textoSobreMi h1 {
  font-size: 55px;
  font-weight: 700;
}

#sobreMi .textoSobreMi h2 {
  font-size: 40px;
}

#sobreMi .textoSobreMi p {
  font-size: 20px;
  width: 500px;
  text-align: center;
  letter-spacing: 0.1rem;
}

.contenidoContacto {
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px;
  padding: 20px;
}

.contenidoContacto h1 {
  font-size: 50px;
  margin-bottom: 50px;
}

.contenidoContacto form {
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  font-size: 20px;
}

@-webkit-keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  .header {
    background-color: rgba(0, 0, 0, 0.281);
  }
  .hero {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px 70px 20px;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-animation-name: aparecer;
            animation-name: aparecer;
    margin-bottom: 90px;
  }
  .hero .container {
    position: relative;
    width: 60%;
  }
  .hero .container img {
    width: 100%;
    height: auto;
  }
  .overlay {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #b6b6b6b6;
    overflow: hidden;
    width: 100%;
    height: 100%;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transition: .3s ease;
    transition: .3s ease;
  }
  .container:hover .overlay {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .hero .container .cte {
    width: 300px;
    display: inline-block;
    padding: 10px;
    color: white;
    background-color: transparent;
    font-size: 2rem;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin: 10px;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    -webkit-transition-property: background-color, color;
    transition-property: background-color, color;
  }
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-align: center;
  }
  .heroTexto {
    height: 350px;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin: 5%;
  }
  .heroTexto h1 {
    font-size: 55px;
    font-weight: 700;
  }
  .heroTexto p {
    font-size: 18px;
    width: 500px;
    color: white;
  }
  .cta {
    width: 300px;
    display: inline-block;
    padding: 10px 30px;
    color: white;
    background-color: transparent;
    border: 2px solid crimson;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-top: 30px;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    -webkit-transition-property: background-color, color;
    transition-property: background-color, color;
  }
  .cta:hover {
    color: white;
    background-color: crimson;
  }
  .footer {
    height: 500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 40px;
    color: white;
  }
  .redes {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 10px;
  }
  .redes article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px;
  }
  .footer img {
    height: 50px;
    width: 50px;
  }
  #proyectos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  #proyectos .proyectos-top {
    width: 500px;
    margin: 0 auto;
    color: white;
    font-size: 1.4rem;
    margin-top: 4px;
    font-weight: 300;
  }
  #proyectos .proyectos-top h1 {
    font-size: 60px;
    font-weight: bolder;
    margin-bottom: 5%;
  }
  #proyectos .proyectos-top p {
    font-size: 20px;
    line-height: 1.5rem;
    text-align: center;
  }
  #proyectos .proyectos-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 50px;
  }
  #proyectos .proyectos-item p {
    color: white;
    font-size: 1rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: 0.05rem;
  }
  .container {
    width: 90%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .galeria {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
  }
  .imagenGaleria {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    display: block;
  }
  #preguntas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  #preguntas .preguntas-top {
    width: 500px;
    margin: 0 auto;
    color: white;
    font-size: 1.4rem;
    margin-top: 4px;
    font-weight: 300;
  }
  #preguntas .preguntas-top h1 {
    font-size: 60px;
    font-weight: bolder;
    margin-bottom: 5%;
  }
  #preguntas .preguntas-top p {
    font-size: 20px;
    line-height: 1.5rem;
    text-align: center;
  }
  #preguntas .preguntas-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 50px;
  }
  #preguntas .preguntas-item p {
    color: white;
    font-size: 1rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: 0.05rem;
  }
  #sobreMi {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #sobreMi img {
    height: 600px;
    width: 400px;
    padding: 0% 5% 5%;
    margin-top: 15rem;
  }
  .textoSobreMi {
    height: 350px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 5%;
  }
  .textoSobreMi h1 {
    font-size: 55px;
    font-weight: 700;
  }
  .textoSobreMi h2 {
    font-size: 40px;
    margin-bottom: 40px;
  }
  .textoSobreMi p {
    font-size: 15px;
    width: 500px;
    text-align: center;
    letter-spacing: 0.1rem;
  }
  .contenidoContacto {
    height: 700px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: white;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 60px;
  }
  .contenidoContacto h1 {
    font-size: 50px;
  }
  .contenidoContacto form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    font-size: 18px;
  }
}
/*# sourceMappingURL=style.css.map */